.track-list {
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử vượt ra dòng tiếp theo */
    justify-content: space-between; /* Căn chỉnh không gian giữa các bài hát */
  }
  
  .track-item {
    flex: 1 1 calc(33.33% - 10px); /* Chiếm 1/3 chiều rộng của dòng, trừ khoảng cách giữa */
    margin-bottom: 20px; /* Khoảng cách giữa các hàng */
    max-width: calc(33.33% - 10px); /* Giới hạn chiều rộng tối đa cho mỗi phần tử */
  }
  